
.navbar {
  background: rgb(231, 231, 101);
  height: 110px;
  width: 100%;
  position: fixed;
  z-index: 1;
}

.navbar a{
  color: rgb(63, 110, 180);
  font-size: 30px;
  margin: 5px;
  line-height: 3;
  font-weight: bold;
}

.message{
  color: rgb(63, 110, 180);
  font-size: 30px;
  text-decoration: none;
  margin: 5px;
  line-height: 3;
  font-weight: bold;
}

.score{
  color: rgb(63, 110, 180);
  font-size: 30px;
  margin: 5px;
  line-height: 3;
  font-weight: bold;
  
}
